{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}
    <h1 align = "center">Welcome {{ user.firstname }}, to your Home page</h1>
    <p align = "center">This is the main page for my (31581900, Janus Haasbroek) Digital Marketing web page.</p>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item active">
                <a class="page-link" id= "notes" href="/">NOTES <span class="sr-only">(current)</span></a>
              </li>
          <li class="page-item"><a class="page-link" id="upload" href="/upload">UPLOAD</a></li>      
          <li class="page-item"><a class="page-link" id="viewmine" href="/viewmine">VIEW MINE</a></li>
          <li class="page-item"><a class="page-link" id="viewshare" href="/viewshare">SHARED</a></li>
        </ul>
      </nav>

    


    <br /><br /><br />
    <hr style= "color:darkturquoise" width="250px"/>
    <h1 align="center">Notes</h1>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
                <li class="list-group-item">
                    {{ note.data }}
                    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
    <form method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
    </form>
    {% endblock %} 