{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}
    <h1 align = "center">Welcome {{ user.firstname }}, to your Home page</h1>
    <p align = "center">This is the main page for my (31581900, Janus Haasbroek) Digital Marketing web page.</p>

    <hr style= "color:darkturquoise" width="250"/>
    <h2>Upload an image</h2>   
    <form method= "POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Choose image</label>
                <div class= "custom-file">
                 <input type="file" class="custom-file-input" name="image" id="image">
                 <label class="custom-file-label" for="image">Choose image...</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <hr style= "color:darkturquoise" width="250px"/>
    <h1 align="center">Notes</h1>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
                <li class="list-group-item">
                    {{ note.data }}
                    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        </ul>
    <form method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
    </form>
    {% endblock %} 