{% extends 'base.html' %} {% block title %}Upload{% endblock %} {% block content%}
<!-- Upload an image code -->
   
<div class="container">
    <h2>Upload an image</h2>
    <div class="col-lg-12">
    <div class="row">
        <form method="POST" action='/upload' enctype="multipart/form-data" class="form-inline">
            <div class="form-group">
                <label>Choose Images:</label>
                <input type="file" name="files[]" id="fileInput" class='form-control' multiple>
            </div>
            <input type='submit' name='submit' class="btn btn-success" value="UPLOAD"/>
        </form>
    </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#fileInput").change(function(){
            var fileLength = this.files.length;
            var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
            var i;
            for(i = 0; i<fileLength; i++){
                var file = this.files[i];
                var imagefile = file.type;
                if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
                    alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                    $("#fileInput").val('');
                    return false;
                }
            }
        });
    });
</script>
<!-- End of upload image -->
{% endblock %} 