{% extends 'base.html' %} {% block title %}Upload{% endblock %} {% block content%}
<!-- Upload an image code -->

<h1 align = "center">Upload an image</h1>
<br />
<nav aria-label="...">
    <ul class="pagination">     
      <li class="page-item"><a class="page-link" id= "notes" href="/">NOTES</a></li>        
      <li class="page-item active"><a class="page-link" id="upload" href="/upload">UPLOAD<span class="sr-only">(current)</span></a></li>      
      <li class="page-item"><a class="page-link" id="viewmine" href="/viewmine">VIEW MINE</a></li>
      <li class="page-item"><a class="page-link" id="viewshare" href="/viewshare">SHARED</a></li>
    </ul>
  </nav>

<div class="container"> 
    <div class="col-lg-12">
    <div class="row">
        <form method="POST" action='/upload' enctype="multipart/form-data" class="form-inline">
            <div class="form-group">
                <label>Choose Images:</label>
                <input type="file" name="files[]" id="images" class='form-control' multiple>
            </div>
            <input type='submit' name='submit' class="btn btn-success" value="UPLOAD"/>
        </form>
    </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#images").change(function(){
            var fileLength = this.files.length;
            var match = ["image/jpeg", "image/png", "image/jpg", "image/gif"];
            var i;
            for(i = 0; i<fileLength; i++){
                var file = this.files[i];
                var imagefile = file.type;
                if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
                    alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                    $("#images").val('');
                    return false;
                }
            }
        });
    });
</script>
<!-- End of upload image -->
{% endblock %} 